* { margin: 0; }

.App-header {
  padding: 1%;
  min-height: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2e3035;
}

.canvas-container {
  position: absolute;
  width: 60%; 
  height: 90%; 
  padding-top: 4%;
  padding-left: 40%;
}

body {
  background-color: #000000;
}

table {
  border: 1px solid #4f90aa;
  width: 50%;
  height: 18%;
}

.Table-Spacing {
  padding-left: 2%;
  padding-top: 2%;
}

th {
  text-align: left;
  color: white;
  padding: 1%;
  border-bottom: 1px solid #4f90aa;
  border-right: 1px solid #4f90aa;
}

td {
  text-align: left;
  color: white;
  padding: 1%;
  border-bottom: 1px solid #4f90aa;
  border-right: 1px solid #4f90aa;
}

.Table {
  position: relative;
}

.ImageDesc {
  color: white;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 0.5%;
}

.ButtonLayoutCol {
  flex-direction: column;
  display: flex;
  gap: 30px;
}

.ButtonLayoutRow {
  flex-direction: row;
  display: flex;
  gap: 30px;
}

.Button {
  padding: 20px;
  background-color: #4f90aa;
  border-radius: 5px;
  border: 2px solid #4f90aa;
  font-size: calc(10px + 2vmin);
}

.textbox{
  padding: 30px;
  border: 2px solid #4f90aa;
  width: 50%;
  height: 10%;
  border-radius: 5px;
}

.submit-btn{
  padding-left: 30px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4f90aa;
  border-radius: 5px;
  border: 2px solid #4f90aa;
  font-size: calc(0.5px + 2vmin);
}

.input-group{
  padding-bottom: 1%;
  padding-left: 2%;
  position: relative;
}

.buttonLayout{
  padding-left: 2%;
}

.Images{
  padding-left: 2%;
}

.App-logo{
  width: 38%;
}