* { margin: 0; }

.App-header {
  padding: 1%;
  min-height: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2e3035;
}

body {
  background-color: #030303;
}

table {
  border: 2px solid #4f90aa;
  width: 800px;
  height: 200px;
}

th {
  text-align: left;
  color: white;
  padding: 1%;
  border-bottom: 1px solid #4f90aa;
  border-right: 1px solid #4f90aa;
}

td {
  text-align: left;
  color: white;
  padding: 1%;
  border-bottom: 1px solid #4f90aa;
  border-right: 1px solid #4f90aa;
}

.Table {
  padding-right: 20px;
  padding-top: 10px;
}

.Images {
  flex-direction: row;
  justify-content: space-between;
}

.ImageDesc {
  color: white;
}

.ButtonLayoutCol {
  flex-direction: column;
  display: flex;
  gap: 30px;
}

.ButtonLayoutRow {
  flex-direction: row;
  display: flex;
  gap: 30px;
}

.HorizontalLayout{
  justify-content: center;
  padding: 30px;
  display: flex;
  gap: 40px;
}

Button {
  padding: 30px;
  background-color: #4f90aa;
  border-radius: 5px;
  border: 2px solid #4f90aa;
  font-size: calc(10px + 2vmin);
}